html {
  height: 100%;
}

body, div#root, div.container {
  height: inherit;
}

div.container {
  display: flex;
  flex-direction: column;
}

.body {
  margin: auto 0;
}

.icon {
  margin: 1rem 1rem;
}

